
html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body{
    font-family: 'Nunito Sans' , sans-serif;
    background-color: grey;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-fluid {
    width: 100%;
    height: 200px;
}
/* Espaciados */

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Top Navbar */
.pl {
    padding-left: 3rem;
}

.top-navbar {
    position: relative;
    background-color: skyblue;
    color: white;
}

.navbar-content-top{
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Navbar */

.navbar{
    background-color: white;
    box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

