
html {
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body{
    font-family: 'Nunito Sans' , sans-serif;
    background-color: grey;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-fluid {
    width: 100%;
    height: 200px;
}
/* Espaciados */

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Top Navbar */
.pl {
    padding-left: 3rem;
}

.top-navbar {
    position: relative;
    background-color: skyblue;
    color: white;
}

.navbar-content-top{
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Navbar */

.navbar{
    background-color: white;
    box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */

.color {
    color: white;
}

.center {
    text-align: center;
}

/* Main */
.grid {
    display: grid;
    grid-template-columns:  repeat(4, minmax(0,1fr));
    gap: 2rem;
}

.card {
    background-color: white;
    border-radius: 0.35rem;
    box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card img{
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.card-content {
    padding: 2rem;
    text-align: center;
}

.card-content h3 {
    margin-bottom: 2rem;
}

@media (max-width: 1000px) {

    .grid {
      grid-template-columns:  repeat(3, minmax(0,1fr));
    }
}

@media (max-width: 750px) {

    .grid {
        grid-template-columns:  repeat(2, minmax(0,1fr));
    }
}

@media (max-width: 700px) {

    .navbar-content {
        font-size: 0.6rem;
    }

    .grid {
        grid-template-columns:  repeat(1, minmax(0,1fr));
    }
}


/* Footer */

.footer {
   position:initial;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   background-color: red;
   color: white;
   text-align: center;
}

/* Bottom */

.bottom {
    position:initial;
    padding-top: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
   height: 50px;
   background-color:skyblue;
   color: white;
   text-align: center;
}

